body {
  background-color: darkgrey;
}

#header {
  text-align: center;
}

.home {
	background-color: black;
	background: url('background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron{
    background-color:transparent !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#font1 {
	font-family: 'Bungee Inline', cursive;
}

#font2 {
	font-family: 'Alfa Slab One', cursive;
}

#navbartext {
	font-size: 1.8em !important;
	font-family: 'Bungee Inline', cursive;
	font-color: white;
}

/* Adjust Menu colors - Normal 
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          lightgray;
text-shadow:    none;
}
/* Adjust Menu colors - Hover 
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          white;                      
text-shadow:    none;
}
*/