body {
  /*background-color: black;*/
}

#header {
  text-align: center;
}

#font1 {
	font-family: 'Bungee Inline', cursive;
}

#font2 {
	font-family: 'Alfa Slab One', cursive;
}

#navbartext {
	font-size: 150%;
	font-style: 
}

/* Adjust Menu colors - Normal 
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          lightgray;
text-shadow:    none;
}
/* Adjust Menu colors - Hover 
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter { 
color:          white;                      
text-shadow:    none;
}
*/